<a href="https://colab.research.google.com/github/kesavakrishna/Data_Visualization/blob/main/Research/ANN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [74]:
import pandas as pd
import numpy as np
import keras
from keras.models import Sequential
from keras.layers import Dense
from sklearn.model_selection import train_test_split

In [75]:
df = pd.read_csv('/content/FTSE Malaysia_all features.csv')
df

,Date,Close Price,Open,High,Low,Stochastic_percent_K,Minimum_E,Maximum_D,Stochastic_percent_D,Slow_D,Momentum,ROC,%R,A/D Oscillator,Disparity(5),Disparity(10),OSCP,CCI,RSI
0,15/03/23,1403.93,1400.10,1406.57,1399.80,28.489462,NaN,NaN,28.867132,30.707068,-29.15,-2.03408044200000000000,85.056961,1.881832,98.837684,97.649411,-0.012169,-161.699079,22.160033
1,14/03/23,1393.83,1416.96,1416.96,1393.83,27.022355,NaN,NaN,30.278557,32.606397,-55.70,-3.84262485100000000000,100.000000,-0.210549,97.430703,96.635911,-0.008225,-204.772135,12.164348
2,13/03/23,1421.83,1419.42,1423.66,1409.93,31.089581,NaN,NaN,32.975514,34.448270,-32.83,-2.25688477000000000000,81.200632,-0.686089,98.495103,98.166375,-0.003349,-180.773826,15.092320
3,10/03/23,1433.08,1445.80,1445.80,1433.08,32.723734,NaN,NaN,34.565122,35.441996,-25.59,-1.75433785600000000000,100.000000,-0.293239,98.851919,98.713626,-0.001401,-121.107885,18.472829
4,09/03/23,1449.53,1454.82,1455.12,1448.45,35.113229,NaN,NaN,35.804173,35.887938,-3.15,-0.21684059810000000000,84.466606,0.068966,99.705052,99.683865,-0.000213,-65.884481,23.182442
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2916,10/01/12,1521.99,1519.75,1524.10,1518.76,45.638627,NaN,NaN,45.245462,44.718821,7.56,0.49919771800000000000,NaN,0.443820,100.441497,NaN,NaN,NaN,NaN
2917,09/01/12,1521.73,1515.06,1521.73,1513.35,45.600860,NaN,NaN,44.879412,44.236645,17.51,1.16405844900000000000,NaN,0.906921,NaN,NaN,NaN,NaN,NaN
2918,06/01/12,1514.13,1513.13,1515.27,1508.93,44.496899,NaN,NaN,44.031589,43.629305,1514.13,#DIV/0!,NaN,0.132492,NaN,NaN,NaN,NaN,NaN
2919,05/01/12,1514.43,1507.05,1514.82,1504.54,44.540476,NaN,NaN,43.798934,43.428163,1514.43,#DIV/0!,NaN,1.031128,NaN,NaN,NaN,NaN,NaN
2920,04/01/12,1504.22,1517.69,1525.14,1502.09,43.057391,1207.8,1896.23,43.057391,43.057391,1504.22,#DIV/0!,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [76]:
df.index = pd.to_datetime(df['Date'])
df = df.drop(['Date', 'Minimum_E', 'Maximum_D'], axis='columns') 
df

,Close Price,Open,High,Low,Stochastic_percent_K,Stochastic_percent_D,Slow_D,Momentum,ROC,%R,A/D Oscillator,Disparity(5),Disparity(10),OSCP,CCI,RSI
Date,,,,,,,,,,,,,,,,
2023-03-15,1403.93,1400.10,1406.57,1399.80,28.489462,28.867132,30.707068,-29.15,-2.03408044200000000000,85.056961,1.881832,98.837684,97.649411,-0.012169,-161.699079,22.160033
2023-03-14,1393.83,1416.96,1416.96,1393.83,27.022355,30.278557,32.606397,-55.70,-3.84262485100000000000,100.000000,-0.210549,97.430703,96.635911,-0.008225,-204.772135,12.164348
2023-03-13,1421.83,1419.42,1423.66,1409.93,31.089581,32.975514,34.448270,-32.83,-2.25688477000000000000,81.200632,-0.686089,98.495103,98.166375,-0.003349,-180.773826,15.092320
2023-10-03,1433.08,1445.80,1445.80,1433.08,32.723734,34.565122,35.441996,-25.59,-1.75433785600000000000,100.000000,-0.293239,98.851919,98.713626,-0.001401,-121.107885,18.472829
2023-09-03,1449.53,1454.82,1455.12,1448.45,35.113229,35.804173,35.887938,-3.15,-0.21684059810000000000,84.466606,0.068966,99.705052,99.683865,-0.000213,-65.884481,23.182442
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2012-10-01,1521.99,1519.75,1524.10,1518.76,45.638627,45.245462,44.718821,7.56,0.49919771800000000000,NaN,0.443820,100.441497,NaN,NaN,NaN,NaN
2012-09-01,1521.73,1515.06,1521.73,1513.35,45.600860,44.879412,44.236645,17.51,1.16405844900000000000,NaN,0.906921,NaN,NaN,NaN,NaN,NaN
2012-06-01,1514.13,1513.13,1515.27,1508.93,44.496899,44.031589,43.629305,1514.13,#DIV/0!,NaN,0.132492,NaN,NaN,NaN,NaN,NaN
2012-05-01,1514.43,1507.05,1514.82,1504.54,44.540476,43.798934,43.428163,1514.43,#DIV/0!,NaN,1.031128,NaN,NaN,NaN,NaN,NaN
2012-04-01,1504.22,1517.69,1525.14,1502.09,43.057391,43.057391,43.057391,1504.22,#DIV/0!,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [77]:
df = df.replace('#DIV/0!', np.nan)
df

,Close Price,Open,High,Low,Stochastic_percent_K,Stochastic_percent_D,Slow_D,Momentum,ROC,%R,A/D Oscillator,Disparity(5),Disparity(10),OSCP,CCI,RSI
Date,,,,,,,,,,,,,,,,
2023-03-15,1403.93,1400.10,1406.57,1399.80,28.489462,28.867132,30.707068,-29.15,-2.03408044200000000000,85.056961,1.881832,98.837684,97.649411,-0.012169,-161.699079,22.160033
2023-03-14,1393.83,1416.96,1416.96,1393.83,27.022355,30.278557,32.606397,-55.70,-3.84262485100000000000,100.000000,-0.210549,97.430703,96.635911,-0.008225,-204.772135,12.164348
2023-03-13,1421.83,1419.42,1423.66,1409.93,31.089581,32.975514,34.448270,-32.83,-2.25688477000000000000,81.200632,-0.686089,98.495103,98.166375,-0.003349,-180.773826,15.092320
2023-10-03,1433.08,1445.80,1445.80,1433.08,32.723734,34.565122,35.441996,-25.59,-1.75433785600000000000,100.000000,-0.293239,98.851919,98.713626,-0.001401,-121.107885,18.472829
2023-09-03,1449.53,1454.82,1455.12,1448.45,35.113229,35.804173,35.887938,-3.15,-0.21684059810000000000,84.466606,0.068966,99.705052,99.683865,-0.000213,-65.884481,23.182442
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2012-10-01,1521.99,1519.75,1524.10,1518.76,45.638627,45.245462,44.718821,7.56,0.49919771800000000000,NaN,0.443820,100.441497,NaN,NaN,NaN,NaN
2012-09-01,1521.73,1515.06,1521.73,1513.35,45.600860,44.879412,44.236645,17.51,1.16405844900000000000,NaN,0.906921,NaN,NaN,NaN,NaN,NaN
2012-06-01,1514.13,1513.13,1515.27,1508.93,44.496899,44.031589,43.629305,1514.13,NaN,NaN,0.132492,NaN,NaN,NaN,NaN,NaN
2012-05-01,1514.43,1507.05,1514.82,1504.54,44.540476,43.798934,43.428163,1514.43,NaN,NaN,1.031128,NaN,NaN,NaN,NaN,NaN
2012-04-01,1504.22,1517.69,1525.14,1502.09,43.057391,43.057391,43.057391,1504.22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [78]:
df = df.dropna()
df

,Close Price,Open,High,Low,Stochastic_percent_K,Stochastic_percent_D,Slow_D,Momentum,ROC,%R,A/D Oscillator,Disparity(5),Disparity(10),OSCP,CCI,RSI
Date,,,,,,,,,,,,,,,,
2023-03-15,1403.93,1400.10,1406.57,1399.80,28.489462,28.867132,30.707068,-29.15,-2.03408044200000000000,85.056961,1.881832,98.837684,97.649411,-0.012169,-161.699079,22.160033
2023-03-14,1393.83,1416.96,1416.96,1393.83,27.022355,30.278557,32.606397,-55.70,-3.84262485100000000000,100.000000,-0.210549,97.430703,96.635911,-0.008225,-204.772135,12.164348
2023-03-13,1421.83,1419.42,1423.66,1409.93,31.089581,32.975514,34.448270,-32.83,-2.25688477000000000000,81.200632,-0.686089,98.495103,98.166375,-0.003349,-180.773826,15.092320
2023-10-03,1433.08,1445.80,1445.80,1433.08,32.723734,34.565122,35.441996,-25.59,-1.75433785600000000000,100.000000,-0.293239,98.851919,98.713626,-0.001401,-121.107885,18.472829
2023-09-03,1449.53,1454.82,1455.12,1448.45,35.113229,35.804173,35.887938,-3.15,-0.21684059810000000000,84.466606,0.068966,99.705052,99.683865,-0.000213,-65.884481,23.182442
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2012-02-03,1583.78,1574.99,1587.11,1574.78,54.614122,53.429785,52.324048,27.05,1.73761667100000000000,8.816521,1.107867,100.972248,101.245609,0.002700,78.224604,64.773048
2012-01-03,1573.45,1568.89,1576.23,1568.83,53.113606,52.120041,51.479292,14.41,0.92428674060000000000,10.338416,0.889189,100.634590,100.756772,0.001213,56.475665,59.543468
2012-02-29,1569.65,1557.50,1573.75,1557.50,52.561626,51.422318,51.069987,10.88,0.69798623270000000000,16.796395,1.047385,100.607626,100.661435,0.000535,42.738035,53.512900
2012-02-28,1556.73,1562.13,1562.42,1552.62,50.684892,50.895516,50.917143,0.07,0.00449680726700000000,57.332564,0.344898,99.896429,99.886365,-0.000101,17.862673,52.917009
2012-02-27,1559.04,1560.63,1565.87,1558.29,51.020438,50.892127,51.020761,-1.48,-0.09484018148000000000,31.242312,0.936675,99.954224,99.974799,0.000206,39.228904,63.893077

In [79]:
# define X and y
X = df
y = df['Close Price'].shift(-1) > df['Close Price'].astype(int)

In [80]:
# split dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [81]:
X_train = np.asarray(X_train).astype(np.float32)
y_train = np.asarray(y_train).astype(np.float32)
X_test = np.asarray(X_test).astype(np.float32)
y_test = np.asarray(y_test).astype(np.float32)

In [82]:
# define the number of hidden nodes to try
hidden_nodes = [2, 4, 6, 8, 10, 12]

In [83]:
# loop over the number of hidden nodes
for nodes in hidden_nodes:
    # create the model
    model = Sequential()
    model.add(Dense(nodes, input_dim=X_train.shape[1], activation='relu'))
    model.add(Dense(1, activation='sigmoid'))

    # compile the model
    model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

    # train the model
    model.fit(X_train, y_train, epochs=100, batch_size=32, verbose=0)

    # evaluate the model on the testing set
    loss, accuracy = model.evaluate(X_test, y_test, verbose=0)

    # print the results
    print("Nodes: %d, Accuracy: %.2f%%" % (nodes, accuracy * 100.0))

Nodes: 2, Accuracy: 70.37%
Nodes: 4, Accuracy: 56.94%
Nodes: 6, Accuracy: 73.73%
Nodes: 8, Accuracy: 76.27%
Nodes: 10, Accuracy: 81.02%
Nodes: 12, Accuracy: 83.68%